name: build

on: [push, pull_request]

env:
  DEBIAN_FRONTEND: noninteractive

jobs:
  linux-lib:
    strategy:
      matrix:
        image:
          - debian:12
          - ubuntu:22.04
          - ubuntu:24.04
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.image }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: install dependencies
        shell: bash
        run: |
          apt-get update -qq
          apt-get install -yqq cmake g++ liblilv-dev lv2-dev pkg-config
      - name: build
        shell: bash
        run: |
          cmake -S tests/buildlib -B build
          cmake --build build -j

  linux-qt5:
    strategy:
      matrix:
        image:
          - debian:12
          - ubuntu:22.04
          - ubuntu:24.04
        pkgs:
          - libqt5websockets5-dev
          - libqt5websockets5-dev libsystemd-dev
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.image }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: install dependencies
        shell: bash
        run: |
          apt-get update -qq
          apt-get install -yqq cmake g++ libjack-jackd2-dev liblilv-dev lv2-dev pkg-config ${{ matrix.pkgs }}
      - name: build
        shell: bash
        run: |
          cmake -S . -B build
          cmake --build build -j

  linux-qt6:
    strategy:
      matrix:
        image:
          - debian:12
          - ubuntu:22.04
          - ubuntu:24.04
        pkgs:
          - libqt6websockets6-dev
          - libqt6websockets6-dev libsystemd-dev
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.image }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: install dependencies
        shell: bash
        run: |
          apt-get update -qq
          apt-get install -yqq cmake g++ libjack-jackd2-dev liblilv-dev lv2-dev pkg-config ${{ matrix.pkgs }}
      - name: build
        shell: bash
        run: |
          cmake -S . -B build
          cmake --build build -j

  macos-lib:
    strategy:
      matrix:
        target:
          - macos-14
          - macos-15
    runs-on: ${{ matrix.target }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: install dependencies
        shell: bash
        run: |
          brew install lilv
      - name: build
        shell: bash
        run: |
          cmake -S tests/buildlib -B build
          cmake --build build -j

  macos-qt:
    strategy:
      matrix:
        target:
          - macos-14
          - macos-15
        pkgs:
          - qt@6
    runs-on: ${{ matrix.target }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: install dependencies
        shell: bash
        run: |
          brew install jack lilv ${{ matrix.pkgs }}
          brew link ${{ matrix.pkgs }}
      - name: build
        shell: bash
        run: |
          cmake -S . -B build
          cmake --build build -j
